<html>
<head>
   <meta charset="UTF-8" />
    <title>음악 추가</title>
</head>
<body>
    <h1>음악 추가</h1>
    
    </br>
    <form method="post" action="/music">
        가수 : <input type="text" name="singer"> <br/>
        노래 : <input type="text" name="song"> <br/>
        장르 : <input type="text" name="genre"><br/><br/>
        <input type="submit" value="추가" > &nbsp;
        <input type="button" value="이전으로" onClick="history.go(-1)">
    </form>

    
</body>
</html>