<html>
<head>
   <meta charset="UTF-8" />
    <title>삭제 완료</title>
</head>
<body>
    <h1>삭제 완료</h1>
    </br>

    <input type="button" value="플레이리스트 이동" onclick="location.href='/music'">

    
</body>
</html>