<html>
<head>
   <meta charset="UTF-8" />
    <title><%= music.title %> 수정 완료</title>
</head>
<body>
    <h1><%= music.title %> 수정 완료</h1> <br/><br/>
    <input type="button" value="플레이리스트 이동" onclick="location.href='/music'">
</body>
</html>